body {
  padding-top: 70px;
}

.post-content{
  font-size: 22px;
}
.read-next-prev {
  display: flex;
  background-position: center center;
  background-size: 100%;
  height: 200px;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
}
.read-next-prev:hover .post {
  text-decoration: none;
  position: absolute;
  color:white;
}
.copyright {
  text-align: center
}
div .lateral {
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

/* Nav Categories */

.categories {
  background-color: black;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav > li > a {
color: white;
font-size: 24px;
}
div .nav > li > a:focus, div .nav > li > a:hover {
  text-decoration: none;
  background-color: red;
}




div .caption {
  display: inline-flex;
  align-content: center;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* force scrollbar */

html {
  overflow-y: scroll;
}
body {
  font-family: sans-serif;
}

/* ---- isotope ---- */

.grid {
  background: rgb(255, 255, 255);
}

/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer, .grid-item {
  width: 33.333%;
}
.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}
.caption {
  position: absolute;
  color: white;
  font-size: 32px;
  background: rgba(0, 0, 0, 0.40);
  z-index: 1;
  opacity: 0;
}

/* Blur + Gray Scale */
.grid-item img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grid-item img:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

.grid-item a:hover .caption {
  display: inline-flex;
  opacity: 1;
}
.navbar {
  font-size: 28px;
}
body > div > nav > div > div.navbar-header > a {
  font-size: 32px;
}

h1 {
  display: inline;

}
.post-meta {
  font-style: italic;
  display: inline;
  font-size: 18px;

}

.post-header{
  text-align: center;
  margin-bottom: 20px;
}

.post-title {
  margin-top: 0px;
  font-size: 40px;
}

.pagination{
  font-size: 32px;
}
