{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="content" id="content" role="main">

  {{! The tag below includes the post loop - partials/loop.hbs }}
    <div class="row">
        {{> "loop"}}
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}


<div class="container categories">

    <div class="row">


      <ul class="nav nav-pills">
        <li role="presentation">
          <a href="#">Home</a>
        </li>
        <li role="presentation">
          <a href="#">Profile</a>
        </li>
        <li role="presentation">
          <a href="#">Messages</a>
        </li>
        <li role="presentation">
          <a href="#">Flamengo</a>
        </li>
        <li role="presentation">
          <a href="#">Brasil</a>
        </li>
        <li role="presentation">
          <a href="#">Ajax</a>
        </li>
        <li role="presentation">
          <a href="#">Holanda</a>
        </li>
        <li role="presentation">
          <a href="#">Australia</a>
        </li>
        <li role="presentation">
          <a href="#">Master</a>
        </li>
        <li role="presentation">
          <a href="#">Cinematico</a>
        </li>
        <li role="presentation">
          <a href="#">não</a>
        </li>
        <li role="presentation">
          <a href="#">Paralelepipedo</a>
        </li>
        <li role="presentation">
          <a href="#">Cifra</a>
        </li>
        <li role="presentation">
          <a href="#">Vice</a>
        </li>
        <li role="presentation">
          <a href="#">Safo</a>
        </li>
        <li role="presentation">
          <a href="#">Barraco</a>
        </li>

      </ul>
    </div>
  </div>

</main>
